<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
        .error{
            color:red;
        }
        </style>
    </head>
<body>
    <div class="link">     
        <a href="/">Main Page</a> |
    </div> 
    <div class="link">       
        <a href="/newpost">Make a Post</a> |
    </div>
    <div class="link">
        <a href="/login">Login</a> |
    </div>
    <div class ="link">
        <a href="/logout">Logout</a>    

    {% block content %}
    {% endblock %}

</body>
</html>